body{
margin:0;
font-family:-apple-system,BlinkMacSystemFont;
background:#f2f2f7;
color:#111;
}

.app{
max-width:430px;
margin:auto;
padding:15px;
}

.card{
background:white;
border-radius:22px;
padding:18px;
margin-top:15px;
box-shadow:0 10px 25px rgba(0,0,0,.08);
transition:.3s;
}

.center{text-align:center;}

button{
width:100%;
padding:14px;
margin-top:10px;
border:none;
border-radius:14px;
background:#007aff;
color:white;
font-size:16px;
}

input{
width:100%;
padding:14px;
border-radius:14px;
border:1px solid #ccc;
box-sizing:border-box;
}

#clock{
font-size:52px;
font-weight:700;
}

#status{
font-size:20px;
margin-top:5px;
}

#tip{
color:#ff6600;
font-weight:bold;
margin-top:10px;
}

.fadein{
animation:fade .5s ease;
}

@keyframes fade{
from{opacity:0;transform:translateY(10px);}
to{opacity:1;transform:none;}
}